<footer>
    <div>	
        <div class="colonne">
            <div style="text-align: center">
                <img alt="" src="/assets/images/logo-afpa.jpg" title="logo-afpa" />
                <img alt="" src="/assets/images/logo_UE.jpg" style="margin-right: 10px; height: 101px; width: 100px;" title="logo-UE" /> 
                <img alt="" src="/assets/images/logo_Synofdes.png" title="logo-synofdes" /> 
                <img alt="" src="/assets/images/logo_france_relance.png" style="margin-right: 10px; height: 101px; width: 100px;" title="logo-france-relance" /> 
                <img alt="" src="/assets/images/logo_NextGeneration_EU.png" style="margin-right: 10px; height: 97px; width: 386px;" title="logo-NextGenerationEU" />
            </div>

            <nav style="text-align: center;clear:both;padding-top:18px;">
                <div style="float:center"><a href="/actualites/politique-des-acha-1" rel="nofollow">Fournisseurs</a> &nbsp; | <a href="/documents/21653/0/CGV-2021.pdf/5ec1a4aa-17e4-832b-2c74-48c29f2f83c0" rel="nofollow" target="_blank">CGV</a> | <a href="/actualites/reglementation-interieur-stagiaire" rel="nofollow" target="_blank">Règlement intérieur stagiaires</a> |&nbsp; <a href="/particulier/votre-experience-afpa-nous-contacter/conta-1" rel="nofollow" target="_self">Nous contacter</a> | <a href="/actualites/reclamations" rel="nofollow" target="_self">Réclamations</a> | <a href="/actualites/conformite-de-nos-prestations " rel="nofollow" target="_self">Conformité</a></div>
            </nav>
        </div>
    </div>
        
    <div class="nav-footer">
            <div class="colonne">
                <p style="text-align: center;clear:both;padding-top:18px;"><a rel="nofollow" href="/actualites/liens-util-1">Liens utiles</a> | <a rel="nofollow" href="/plan-de-site">Plan du site</a> | <a rel="nofollow" href="/actualites/politique-de-protection-des-donnees-a-caractere-personnel">Politique de protection des données </a> | <a rel="nofollow" href="/actualites/politique-de-gestion-des-cookies">cookies</a> |  <a class="pBt" (click)="OpenCgu()">CGU</a> | <a rel="nofollow" href="/accessibilite">Accessibilité : non conforme</a> | <a rel="nofollow" href="/actualites/credits">Crédits</a> | <a rel="nofollow" href="/actualites/mentions-legal-1">Mentions légales</a> | <a rel="nofollow" href="/espace-presse">Espace presse</a></p>
            </div>
    </div>
</footer>