footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1rem solid;
    border-color: #86BD24;
}

a{
    text-decoration: none;
    color: #5A545A;
    font-size: 14px;
}

a:hover{
    color:#007BFF;
}

img{
    vertical-align:middle; 
}

.pBt{
    cursor: pointer;
}

