a{
    text-decoration: none;
    color: #5A545A;
    font-size: 14px;
    cursor: pointer;
}

a:hover{
    color:#007BFF;
}

img{
    vertical-align:middle;
}

.content {
    min-height: calc(100vh - 50px);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5%;
    border-top: 1rem solid;
    border-color: #86BD24;
    transition: height 0.3s ease;
    background-color: #FFFFFF;
}

footer.expanded {
    height: 140px;
}
