<header id="header">
  <mat-toolbar>
      <!-- Si connexion = true, alors le logo renvoie vers la page principale après connexion -->
      <!-- Si connexion = false, alors le logo renvoie vers la page principale avant connexion -->
      <a #logoElement class="logo custom-logo" [routerLink]="(utilisateurService.isLoggedIn$ | async) ? '/home' : '/index'" title="Accueil">
          <img alt="" src="/assets/images/logo-bip.png" style="width: 50%;" />
      </a>
      <div class="header-links">
          <form>
              <mat-form-field class="search-bar" *ngIf="(utilisateurService.isLoggedIn$ | async)">
                <mat-label>Recherche</mat-label>
                <mat-chip-grid #chipGrid aria-label="Filtre">
                  <mat-chip-row *ngFor="let filter of filters" (removed)="remove(filter)">
                    {{filter}}
                    <button matChipRemove [attr.aria-label]="'remove ' + filter">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="Filtre..." #filterInput [formControl]="filterCtrl"
                  [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"/>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let filter of filtered | async" [value]="filter">
                    {{filter}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button mat-button color="primary" (click)="search()" class="searchBut"><mat-icon *ngIf="(utilisateurService.isLoggedIn$ | async)">search</mat-icon></button>
              <mat-icon (click)="toggleShowFilter()" *ngIf="(utilisateurService.isLoggedIn$ | async)">arrow_downward</mat-icon>
            </form>
      </div>
      <div class="menu-bouton">
          <!-- Le bouton mail doit être actif seulement lorsque l'utilisateur est connecté -->
          <button mat-button *ngIf="(utilisateurService.isLoggedIn$ | async)" routerLink="/messagerie" routerLinkActive="active" >
              <mat-icon class="icon">email</mat-icon>
          </button>

          <!-- Le bouton du menu avec l'icône person -->
          <button mat-button *ngIf="(utilisateurService.isLoggedIn$ | async)" [matMenuTriggerFor]="menu">
            <img class="photo" id="photo" [src]="utilisateur?.urlPhoto" alt="Photo de profil">
          </button>

          <!-- Le menu déroulant -->
          <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/profil" routerLinkActive="active">Ma page</button>
              <button mat-menu-item (click)="openParametreCompte()">Paramètres</button>
              <button mat-menu-item (click)="logoutRequest()">Deconnexion</button>
          </mat-menu>

          <!-- Les boutons connexion et inscription doivent être actifs seulement avant la connexion de l'utilisateur et après sa déconnexion -->
          <ng-container *ngIf="!(utilisateurService.isLoggedIn$ | async)">
              <button mat-button color="primary" (click)="openFormLogin()">Se connecter</button>
              <button mat-button color="primary" (click)="openFormRegister()">S'inscrire</button>
          </ng-container>
      </div>
  </mat-toolbar>
  <div class="border"></div>
</header>
<div class="filter" *ngIf="this.isFilterVisible">
  <div class="typeFilter">
      <span>
          Type :
      </span>
      <mat-chip-option class="mat-chip" [ngClass]="{ 'selectedJobDating': isJobDatingSelected.value }" (click)="toggleSelectedChip(isJobDatingSelected)" [selected]="isJobDatingSelected.value" #jobDating>Job dating</mat-chip-option>
      <mat-chip-option class="mat-chip" [ngClass]="{ 'selectedOffreStage': isOffreStageSelected.value }" (click)="toggleSelectedChip(isOffreStageSelected)" [selected]="isOffreStageSelected.value" #offreStage>Offre stage</mat-chip-option>
      <mat-chip-option class="mat-chip" [ngClass]="{ 'selectedOffreEmploi': isOffreEmploiSelected.value }" (click)="toggleSelectedChip(isOffreEmploiSelected)" [selected]="isOffreEmploiSelected.value" #offreEmploi>Offre Emploi</mat-chip-option>
      <mat-chip-option class="mat-chip" [ngClass]="{ 'selectedAfterwork': isAfterworkSelected.value }" (click)="toggleSelectedChip(isAfterworkSelected)" [selected]="isAfterworkSelected.value" #afterwork>Afterwork</mat-chip-option>
      <mat-chip-option class="mat-chip" [ngClass]="{ 'selectedRechercheStage': isRechercheStageSelected.value }" (click)="toggleSelectedChip(isRechercheStageSelected)" [selected]="isRechercheStageSelected.value" #rechercheStage>Recherche stage</mat-chip-option>
      <mat-chip-option class="mat-chip" [ngClass]="{ 'selectedRechercheEmploi': isRechercheEmploiSelected.value }" (click)="toggleSelectedChip(isRechercheEmploiSelected)" [selected]="isRechercheEmploiSelected.value" #rechercheEmploi>Recherche Emploi</mat-chip-option>
  </div>
  <BR>
  <div class="villeFilter">
    <span>
      Ville :
    </span>
    <mat-form-field>
      <mat-label>Code Postal</mat-label>
      <input matInput (input)="updateCodePostal($event,inputCodePostal.value);getVille(codePostal);" [value]="codePostal" #inputCodePostal>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ville(s)</mat-label>
      <mat-select [formControl]="villesSelect" multiple>
        <mat-select-trigger>
            {{villesSelect.value?.length || 0}} {{villesSelect.value?.length === 0 || villesSelect.value?.length === 1 ? 'selectionnée' : 'selectionnées'}}
        </mat-select-trigger>
        <mat-option *ngFor="let ville of villes" [value]="ville.id">{{ ville.ville | titlecase }}</mat-option>
      </mat-select>
      <button mat-icon-button matSuffix (click)="resetVille($event)">
        <mat-icon>cancel</mat-icon>
      </button>
      <mat-hint align="end" *ngIf="codePostal.length == 5">{{ nbVille }} ville<span *ngIf="nbVille>1">s</span> trouvée<span *ngIf="nbVille>1">s</span></mat-hint>
    </mat-form-field>
    <button mat-button color="primary" (click)="search()" class="searchBut"><mat-icon>search</mat-icon></button>
  </div>
</div>
