@import 'src/afpa-palette.scss';

/* HEADER */
.filter, header{
    border-bottom: 1rem solid;
    border-color: map-get($afpa-palette, 50);
    margin-top: 20px; // cette valeur est liée à un calcul qui se fait dans le composant messagerie.html et conversation détails
    display: block;
}

mat-toolbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    background-color: white;
}

.search-bar {
    width: 800px;
    border-radius: 10px;
}
mat-form-field {
    border-radius: 40px;
}

/* BOUTON ICON */
.icon{
    font-size: 25px;
}

a{
    color:black;
}

a:hover{
    color:#007BFF;
}

.photo {
    display: flex;
    text-align:left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;  
    object-fit: cover;
    z-index: 1;
}

.photo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
  }

/* FILTRE */

.filter{
    height: 9rem;
}

.typeFilter{
    width: 90%;
    margin: 0 5% 0 5%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.villeFilter{
    width: 45%;
    margin: 0 50% 0 5%;
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

.mat-chip {
    height: 3rem !important;
}

/* CHIP COLOR */

.mat-chip.selectedJobDating {
    background-color: map-get($afpa-palette, 50) !important;
}

.mat-chip.selectedOffreStage {
    background-color: map-get($afpa-palette, 100)  !important;
}

.mat-chip.selectedOffreEmploi {
    background-color: map-get($afpa-palette, 900) !important;
}

.mat-chip.selectedAfterwork {
    background-color: map-get($afpa-palette, 300)  !important;
}

.mat-chip.selectedRechercheStage {
    background-color: map-get($afpa-palette, 400) !important;
}


.mat-chip.selectedRechercheEmploi {
    background-color: map-get($afpa-palette, 500)  !important;
}


.mat-chip {
    background-color: rgba(224, 224, 224, 1);
}

