form {
    display: flex;
   // flex-direction: column;
   flex-wrap: wrap;
  //  align-items: center;
  align-content: center;
  justify-content: space-evenly;
    height: 60vh;
    width: 60vw;
    margin-top: 10px;
    
  }
  
  mat-form-field {
    width: 40%; 
    
  }
  button{

   margin-left: 10px;
  }

  .pBt{
    cursor: pointer;
   
}