<h1>CREDITS</h1>
<mat-dialog-content class="modalCredits" >
<h2>CDA 9</h2>
<div>
  <ul>
    <li>Loïc LESCOMBES</li>
  </ul>
</div>


<h2>CDA 10</h2>
  <ul>
    <li>Laura BONNIN</li>
    <li>Patrice DEL BARRIO</li>
    <li>Walid CHNAIF</li>
    <li>Abdelkarim GHOUFA</li>
    <li>Youba LACKMES</li>
    <li>Kevin MASSOLIN</li>
    <li>Guilherme SCHAEDLER</li>
    <li>Pierre SCHIAVON</li>
  </ul>

<h2>CDA 11</h2>
  <ul>
    <li>Minh Tuan TRUONG</li>
  </ul>

<h2>FORMATEUR</h2>
  <ul>
    <li>David MENDOUZE</li>
  </ul>

<br><br>


</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>



